.col{
    color: white;
}
h5,h3,h2{
    color: black;
    font-family: 'Baloo Bhai 2', cursive;
}
.abc{
    color: black!important;
}
.colo{
    color: green;
}

body{
    background-color: rgb(238, 228, 238);
}
.red{
    color: red;
}
.mid{
    text-align: center;
}

td{
    text-align: center;
}
